*,div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	 overflow-wrap: normal;
    word-wrap: normal;

    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;

    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.section-inner:focus,
div:focus {
	outline: none;
}
html {
	background: #FFF;
}
body {
	color: $color-grey;
	font-size: 14px;
	line-height: 1.4;
}
.wrapper, .clear {clear: both;}
.wrapper:before, .wrapper:after, .clear:before,.clear:after {content: " "; display: table; }
.wrapper:after, .clear:after {clear: both;}
.wrapper, .clear {*zoom: 1;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 0 20px;
	box-sizing: border-box;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 1200px;
	}
}
.midwrapper {
	@media screen and (min-width: $midwidth) {
		width: 90%;
		margin: 0 auto;
	}
}
.nomarginbottom {margin-bottom: 0!important;}
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo {
	display: block;
	width: 100px;
	position: relative;
	z-index: 20;
	float: none;
	margin: 0 0;
	@media screen and (min-width: $tabwidth) {
		width: 120px;
		float: left;
		margin: 0 0;
	}
	@media screen and (min-width: $midwidth) {
		width: 185px;
	}
}
.home .logo {
	width: 180px;
	margin: 0 0;
	@media screen and (min-width: $tabwidth) {
		width: 200px;
	}
	@media screen and (min-width: $midwidth) {
		width: 260px;
	}
}
.logo a {
	display: block;
	width: 100%;
	float: left;
	img {
		width: 100%;
		height: auto;
		float: left;
	}
}
.site-footer {
	width: 100%;
	clear: both;
}
#masthead {
	position: relative;
	z-index: 200;
	.wrapper {
		position: relative;
		margin-top: 15px;
		margin-bottom: 20px;
		padding-top: 0;
		padding-bottom: 0;
	}
}
.home #masthead {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background-color: transparent;
	.wrapper {
		margin-top: 20px;
		margin-bottom: 0;
		@media screen and (min-width: $tabwidth) {
			margin-top: 35px;
			margin-bottom: 35px;
		}
	}
}

.default-temp {
	min-height:25em;
}

.scrollTop {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 200px;
	background: #313131;
	color: #FFF;
	text-align: center;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10000;
	outline: none;
	opacity: 0;
	@include transition(all ease-out .3s);
}
.scrollTop .arrowUp {
	color: #FFF;
	font-size: 16px;
	position: relative;
	top: 12px;
}
